.movie-header {
    padding: 20px;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    border-bottom: 3px solid  royalblue;
}



.movie-header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}