.movie-preview {
    display: flex;
    margin-top: 130px;
    position: relative;
    justify-content: center;
    padding-left: 60px;
}

.movie-preview .back-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.movie-preview-card {
    display: flex;
    background-color: rgba(100,149,237, 0.7);
    border: 3px solid royalblue;
    border-radius: 5px;
    margin: 0 50px 0 50px;
    text-align: left;
}

.movie-preview-card img {
    border-radius: 5px 0 0 5px;
}

.movie-preview-card span {
    margin: 10px 0;
}

.movie-preview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

@media screen and (max-width: 700px) {
    .movie-preview-card {
        flex-direction: column;
        margin-left: 40px;
    }

    .movie-preview .back-button {
        margin-left: 10px;
    }
}