.movie-item {
    overflow: hidden;
    transition: transform 0.5s;
    margin: 10px;
    border: 3px solid royalblue;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    width: 305px;
    position: relative;
}

.movie-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.movie-item-title {
    background-color: cornflowerblue;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
}