.movie-app-logo {
    display: flex;
    align-items: center;
}

.movie-app-logo img {
    margin-right: 30px;
}

@media screen and (max-width: 700px) {
    .movie-app-logo img {
        margin-right: 10px;
    }
}
